header{
	font-family:  Helvetica, Verdana, Arial;
	margin: 0;
	line-height: 1;
	padding: 0;
	color: #fff;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	
}
	
body {
	font-family:  Helvetica, Verdana, Arial;
	background-image: url("../img/IMG02.jpg");
	background-attachment: scroll;
	margin-top: 70px ;
	line-height: 1.4;
	padding: 0;
	color: #000;
	font-size: 90%;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 5px;	 
	padding-right: 15px;
	padding-left: 15px; 
}


a img { 
	border: none;
}

a:link {
	color: #28a4a4;
	text-decoration: none; 
}
a:visited {
	color: #28a4a4;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

.container {
	float: left;
	width: 65%;
	background-color: #FFF;
	margin: 0 1.5%;
}

.sidebar1 {
	float: left;
	margin: 0 1.5%;
	width:20%;
	background-color: #FFF;
	padding-bottom: 0;
	font-size: 90%;
	font-weight: bold;
}
.content {
	float: left;
	margin: 0 1.5%;
	width: 100%;
	
}



ul.nav {
	list-style: none; 
	margin:0 auto;
	padding:10px;
	overflow: hidden;
	background-color: #8D8D8D;
	font-size: 100%;
	
}
li.nav {
	display: inline; 
	float: left;
	color: #28a4a4;
	text-decoration: none;
	border-right: 1px solid #28a4a4;
}
li.nav a {
	display: inline; 
	color: #000;
	text-align:center;
	padding: 14px 16px;
	text-decoration: none;
}

li.nav a:hover {
	background-color: #28a4a4;
}



footer {
	padding: 10px 0;
	background-color: #8D8D8D;
	position: relative;/* donne hasLayout à IE6 de façon à permettre un effacement correct */
	clear: both; 
	font-size: 80%;
	font-style: italic;
}

header, section, footer, aside, article, figure {
	display: block;
}

